<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1.0, width=device-width">
            <title>eunchae</title>
            <link rel="stylesheet" href="style.css"/>
            <script src="jquery.js"></script>
        </head>
        <body>
            <header>
                <div class="top">
                    <span class="hamburger" id="hamburger"><img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQZXJxTnVfWmQzdUk
                    " alt=""></span>
                    <h1><a href="/">eunchae</a></h1>
                    <span class="git" OnClick="location.href='https://vonzoo@bitbucket.org/vonzoo/eunpage.git'"><img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQekdqWGVZd3pJWTA
                    " alt=""></span>
                </div>
            </header>
            <nav class="side-menu" id="side-menu">
                <ul class='menu'>
                <li><a href="/memo">memo</a>
                </li>
                <li><a href="/picture">picture</a>
                </li>
                <li><a href="/video">video</a>
                </li>
                </ul>
            </nav>
            <main>
                <h2>App Bar</h2>
                <p>The app bar, formerly known as the action bar in Android, is a special kind of toolbar that’s used for branding, navigation, search, and actions.The app bar, formerly known as the action bar in Android, is a special kind of toolbar that’s used for branding, navigation, search, and actions.</p>
            </main>
            <script>
                var open=false;
                function createSideMenu() {
                    if(open === false) {
                    open = true;
                    $id('side-menu').style.left = "0";
                    } else {
                    open = false;
                    $id('side-menu').style.left = "-200px";
                    }
                }
                $on('click', $id('hamburger'), createSideMenu);
            </script>
        </body>
    </html>
