section{
    margin: 70px auto;
    text-align: center;
    width: 100%;
    height: 100%;
}
section .wrapper{
    width: 100%;
    display: block;
    height: 600px;

}
section .wrapper .description{
    border: 1px solid #eeeeee;
    line-height: 77px;
    padding: 0 20px;
    display: flex;
    background-color: #eeeeee;
}
section .wrapper .description h3{
    flex:1;
    text-align: left;
}
section .wrapper .content{

    border: 1px solid #eeeeee;
    height: 400px;
}

section .wrapper .content video{
    width: 80%;
    height: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}



section .wrapper figure  {
    margin-bottom: 100px;
    width: 750.22px;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}
section .wrapper figure  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
section .wrapper figure  img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}
section .wrapper figure :after,
section .wrapper figure  figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section .wrapper figure :after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}
section .wrapper figure  figcaption {
    z-index: 1;
    padding: 40px;
}
section .wrapper figure  h4{
    width: 100%;
    margin: 5px 0;
    padding: 0;
    line-height: 1.1em;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    opacity: 0;
}
section .wrapper figure  p {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0;
    top: 50%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}
section .wrapper figure :hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
section .wrapper figure :hover h4,
section .wrapper figure :hover p{
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
